/* shop page */

#page-header {
    background-image: url("IMG/Banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top 50% right 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    color: rgb(248, 50, 50);
    font-weight: 600;
}

#page-header p {
    color: white;
    font-weight: 600;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: rgb(245, 181, 64);
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Single Product */

#prodetails {
    display: flex;
    margin-top: 20px;
    max-width: 1360px;
    margin: 0 auto;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.main-img {
    border: 1px solid rgb(2, 5, 61);
    border-radius: 5px;
}

.small-img {
    border: 1px solid rgb(169, 167, 167);
    border-radius: 5px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: black;
    color: white;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

#prodetails .single-pro-details form {
    display: inline-block;
}

@media (max-width: 477px) {
    #prodetails .single-pro-image {
        margin-right: 30px;
    }

    #about-head img {
        margin-bottom: -50px;
    }
}

/* Blog page  */

/* About page */

#page-header.about-header {
    background-image: url("IMG/About/banner.jpg");
    background-position: top 50% right 0;
}

#page-header.about-header h2 {
    color: white;
}

#page-header.about-header p {
    color: rgb(247, 243, 189);
}

#about-head {
    display: flex;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
}

#about-head img {
    width: 40%;
    height: 40%;
}

#about-head div {
    padding-left: 40px;
}

#about-head marquee {
    color: yellow;
    font-weight: 500;
}

#about-app {
    text-align: center;
    background-image: url("IMG/About/2.avif");
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 70px;
}

#about-app img {
    width: 40%;
    height: 60%;
    margin: 0 auto 0 auto;
    border-radius: 200px;
}

#about-app h1 {
    margin-top: 20px;
}

#about-app span {
    color: red;
}

#newsletter.about-newsletter {
    margin-top: -50px;
}

@media (max-width: 799px) {
    #page-header.about-header {
        height: 30vh;
    }

    #about-head div {
        padding-left: 30px;
    }

    #about-head img {
        width: 40%;
        height: 80%;
        margin-top: -45px;
    }

    #about-head h2 {
        font-size: 28px;
        margin-bottom: 0;
    }

    #about-head p {
        font-size: 14px;
        margin-top: 0;
    }
}

/* Contact page */

#page-header.contact-header {
    background-image: url("IMG/Banner/c.png");
}

#page-header.contact-header h2 {
    color: black;
}

#page-header.contact-header p {
    color: rgb(83, 82, 81);
}

#newsletter.contact-newsletter {
    margin-top: 10px;
}

/* Cart page */

#page-header.cart-header {
    background-image: url("IMG/Banner/cart.png");
    background-position: top 80% right 0;
}

#page-header.cart-header h2 {
    color: rgb(0, 0, 0);
}

#page-header.cart-header p {
    color: rgb(255, 255, 255);
}

#cart-table {
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: -40px;
}

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-info a {
    text-decoration: none;
}

.cart-info p {
    margin: 0;
    font-size: normal;
    color: black;
    margin-top: 10px;
}

.cart-info img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.cart-info input {
    font-size: 10px;
    background: none;
    border: none;
    color: red;
    width: 50px;
    font-weight: 600;
    cursor: pointer;
}

.edit_btn {
    font-size: 13px;
    background: none;
    border: none;
    color: black;
    width: 50px;
    font-weight: 600;
    cursor: pointer;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: rgb(32, 6, 92);
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: red;
    font-size: 12px;
}

tr:hover {
    background-color: #f5f5f5;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid rgb(32, 6, 92);
    width: 100%;
    max-width: 400px;
}

.total-price td {
    text-align: end;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

#total-section {
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#checkout-button {
    max-width: 1360px;
    margin: 0 auto;
}

.btn2 {
    text-align: right;
    margin-bottom: 80px;
}

.btn2 button {
    border: none;
    outline: none;
    background: rgb(32, 6, 92);
    padding: 10px 24px;
    width: 200px;
    border-radius: 4px;
    color: white;
    font-weight: 550;
}

.btn2 button:hover {
    background-color: #51626d;
    transition: 0.45s;
}